<div class="checkout-container">
    <!-- Header (optional) -->
    <div class="checkout-header">
        <button mat-icon-button (click)="location.back()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <h2>Checkout</h2>
    </div>

    <section class="checkout-page">
        <!-- Itens no carrinho -->
        <div class="order-items">
            <mat-list-item *ngFor="let item of cartItems" class="cart-item">
                <div class="item-container">
                    <div class="item-image-wrapper">
                        <img
                            class="item-image"
                            [src]="item.product.image"
                            [alt]="item.product.name"
                        />
                    </div>
                    <div class="item-content">
                        <div class="item-info">
                            <h4 class="item-name">{{ item.product.name }}</h4>
                            <p class="item-description">
                                {{ item.product.description }}
                            </p>
                            <p class="price">
                                {{ item.product.value | currency : "BRL"
                                }}<span>/un</span>
                            </p>
                            <p class="quantity">
                                Quantidade: {{ item.quantity }}
                            </p>
                        </div>
                    </div>
                </div>
            </mat-list-item>
            <div class="order-total">
                <h3>Total dos itens: {{ total | currency : "BRL" }}</h3>
            </div>
        </div>

        <!-- Formulário de endereço e pagamento -->
        <form [formGroup]="addressForm" class="address-form">
            <div class="form-card">
                <h2>Endereço de Entrega</h2>
                <div class="address-form-content">
                    <mat-form-field appearance="outline">
                        <mat-label>Rua</mat-label>
                        <input matInput formControlName="street" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Número</mat-label>
                        <input matInput formControlName="number" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Bairro</mat-label>
                        <input matInput formControlName="district" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cidade</mat-label>
                        <input matInput formControlName="city" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input matInput formControlName="state" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>CEP</mat-label>
                        <input matInput formControlName="zip" />
                    </mat-form-field>
                </div>
            </div>

            <div class="form-card">
                <h2>Forma de Pagamento</h2>
                <mat-radio-group
                    formControlName="paymentMethod"
                    class="payment-group"
                >
                    <mat-radio-button value="pix">PIX</mat-radio-button>
                    <mat-radio-button value="card">Cartão</mat-radio-button>
                    <mat-radio-button value="cash">Dinheiro</mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </section>

    <section class="checkout-footer">
        <div class="checkout-footer-content">
            <div style="display: flex; flex-direction: column; gap: 5px">
                <p style="font-size: 14px; margin: 0">
                    Frete: <span>{{ frete | currency : "BRL" }}</span>
                </p>
                <p style="font-size: 18px; margin: 0">
                    Subtotal:
                    <span>{{ total + frete | currency : "BRL" }} </span>
                </p>
            </div>

            <div style="display: flex; gap: 20px;">
                <button mat-raised-button (click)="cancelOrder()">
                    Cancelar <mat-icon>cancel</mat-icon>
                </button>

                <button mat-raised-button (click)="confirmOrder()">
                    Finalizar <mat-icon>check_circle</mat-icon>
                </button>
            </div>
        </div>
    </section>
</div>
