<div class="container" *ngIf="Orders">
    <!-- Header -->
    <div class="orders-header">
        <button mat-icon-button (click)="location.back()">
            <mat-icon> chevron_left </mat-icon>
        </button>
        <h2>Seus pedidos</h2>
    </div>

    <section class="order-items" *ngIf="checkoutOrders().length !== 0">
        <h2>Aguardando pagamento</h2>
        <mat-list-item *ngFor="let order of checkoutOrders()" class="cart-item">
            <div class="item-container" style="border: 2px solid orange;">
                <div class="item-header">
                    <div>
                        <h4 class="item-name">
                            {{ order._id }}
                        </h4>
                        <p style="margin: 0; font-size: 0.9rem">
                            {{ order.createdAt | date : "dd/MM/yyyy HH:mm" }}
                        </p>
                    </div>
                    <p class="order-total">
                        Total
                        <br />
                        {{
                            order.orderTotal || order.payment.total
                                | currency : "BRL"
                        }}
                    </p>
                    <p>
                        Itens
                        <br />
                        {{ order.items.length }}
                    </p>
                    <app-status-chip [status]="order.status" />
                </div>

                <div class="item-content">
                    <div class="item-info">
                        <!-- Itens do pedido -->
                        <mat-list-item
                            *ngFor="let item of order.items"
                            class="order-item"
                        >
                            <div class="order-item-container">
                                <div class="item-image-wrapper">
                                    <img
                                        class="order-item-image"
                                        src="{{ item.product.image }}"
                                        alt="{{ item.product.name }}"
                                    />
                                </div>

                                <div class="order-item-content">
                                    <div class="order-item-info">
                                        <h4 class="order-item-name">
                                            {{ item.product.name }}
                                        </h4>
                                        <p class="order-item-quantity">
                                            {{ item.quantity }} unidade{{
                                                item.quantity > 1 ? "s" : ""
                                            }}
                                        </p>
                                        <p class="item-total">
                                            {{
                                                item.product.value *
                                                    item.quantity
                                                    | currency : "BRL"
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </mat-list-item>
                    </div>
                    <div class="item-actions">
                        <button
                            mat-raised-button
                            class="detail-button"
                            (click)="this.router.navigate([`/checkout/${order._id}`])"
                        >
                            Ver pedido
                            <mat-icon iconPositionEnd>chevron_right</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-list-item>
    </section>

    <section class="order-items">
        <h2>Outros pedidos</h2>
        <mat-list-item
            *ngFor="let order of hasNoCheckoutOrder()"
            class="orders"
        >
            <div class="item-container">
                <div class="item-header">
                    <div>
                        <h4 class="item-name">
                            {{ order._id }}
                        </h4>
                        <p style="margin: 0; font-size: 0.9rem">
                            {{ order.createdAt | date : "dd/MM/yyyy HH:mm" }}
                        </p>
                    </div>
                    <div>
                        <h4 class="item-name">
                            Previsão de entrega
                        </h4>
                        <p style="margin: 0; font-size: 0.9rem">
                            {{ order.deliveryDate| date : "dd/MM/yyyy" }}
                        </p>
                    </div>
                    <p class="order-total">
                        Total
                        <br />
                        {{
                            order.orderTotal || order.payment.total
                                | currency : "BRL"
                        }}
                    </p>
                    <p>
                        Itens
                        <br />
                        {{ order.items.length }}
                    </p>
                    <app-status-chip [status]="order.status" />
                </div>

                <div class="item-content">
                    <div class="item-info">
                        <!-- Itens do pedido -->
                        <mat-list-item
                            *ngFor="let item of order.items"
                            class="order-item"
                        >
                            <div class="order-item-container">
                                <div class="item-image-wrapper">
                                    <img
                                        class="order-item-image"
                                        src="{{ item.product.image }}"
                                        alt="{{ item.product.name }}"
                                    />
                                </div>

                                <div class="order-item-content">
                                    <div class="order-item-info">
                                        <h4 class="order-item-name">
                                            {{ item.product.name }}
                                        </h4>
                                        <p class="order-item-quantity">
                                            {{ item.quantity }} unidade{{
                                                item.quantity > 1 ? "s" : ""
                                            }}
                                        </p>
                                        <p class="item-total">
                                            {{
                                                item.product.value *
                                                    item.quantity
                                                    | currency : "BRL"
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </mat-list-item>
                    </div>
                    <div class="item-actions">
                        <button
                            mat-raised-button
                            class="detail-button"
                            (click)="this.router.navigate([`/pedido/${order._id}`])"
                        >
                            Ver pedido
                            <mat-icon iconPositionEnd>chevron_right</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-list-item>
    </section>
</div>
