<section class="container">
    <h2>Produtos</h2>
    <app-loading></app-loading>
    <div class="products-container">
        <mat-card *ngFor="let product of products" class="product-card">
            <img mat-card-image src="{{ product.image }}" />

            <mat-card-header>
                <mat-card-subtitle>{{
                    product.value | currency : "BRL"
                }}</mat-card-subtitle>
                <mat-card-title>{{ product.name }} </mat-card-title>
            </mat-card-header>

            <mat-card-content style="margin: 10px 0">
                <a
                    (click)="router.navigate([`produto/${product._id}`])"
                    class="product-details"
                    >Ver detalhes</a
                >
            </mat-card-content>

            <mat-card-actions>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="addToCart(product)"
                >
                    Adicionar ao carrinho
                    <mat-icon fontIcon="add_shopping_cart"></mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
