<section class="order-detail-container">
    <!-- Header -->
    <div class="order-detail-header">
        <button mat-icon-button (click)="location.back()">
            <mat-icon> chevron_left </mat-icon>
        </button>
        <h2>Detalhes do pedido</h2>
        <app-status-chip [status]="Order.status"></app-status-chip>
    </div>

    <section class="order-detail-page">
        <div class="order-items">
            <mat-list-item *ngFor="let item of Order.items" class="cart-item">
                <div class="item-container">
                    <div class="item-image-wrapper">
                        <img
                            class="item-image"
                            [src]="item.product.image"
                            [alt]="item.product.name"
                        />
                    </div>

                    <div class="item-content">
                        <div class="item-info">
                            <h4 class="item-name">{{ item.product.name }}</h4>
                            <p class="item-description">
                                {{ item.product.description }}
                            </p>
                            <p class="price">
                                {{ item.product.value | currency : "BRL"
                                }}<span>/un</span>
                            </p>
                            <p class="quantity">
                                Quantidade: {{ item.quantity }}
                            </p>
                        </div>
                    </div>
                </div>
            </mat-list-item>
        </div>

        <section class="summary">
            <h2>Resumo do pedido</h2>
            <div class="summary-content">
                <div class="items" style="max-width: 250px;">
                    <p class="title">Enviado para</p>
                    <p>{{ Order.address }}</p>
                </div>

                <div class="items">
                    <p class="title">Método de pagamento</p>
                    <mat-chip style="width: fit-content">{{
                        Order.payment.paymentMethod
                    }}</mat-chip>
                </div>

                <div class="items" style="flex: 1;">
                    <p class="title">Resumo do pedido</p>
                    <p style="display: flex; justify-content: space-between">
                        Subtotal dos itens:
                        <span>
                            {{ Order.payment.total | currency : "BRL" }}
                        </span>
                    </p>
                    <p style="display: flex; justify-content: space-between">
                        Frete:
                        <span>
                            {{ Order.payment.shippingFee | currency : "BRL" }}
                        </span>
                    </p>
                    <p style="display: flex; justify-content: space-between">
                        Total do pedido:
                        <span> {{ Order.orderTotal | currency : "BRL" }}</span>
                    </p>
                </div>
            </div>
        </section>
    </section>
</section>
