<mat-toolbar color="primary" class="menu-toolbar">
    <span class="logo">CUPCAKE</span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="'/'" class="menu-btn">
        <mat-icon>storefront</mat-icon>
        Catálogo
    </button>
    <button mat-button [routerLink]="'/carrinho'" class="menu-btn" [matBadge]="itemsCount$ | async">
        <mat-icon>shopping_cart</mat-icon>
        Carrinho
    </button>
    <button mat-button [routerLink]="'/pedidos'" class="menu-btn">
        <mat-icon>receipt_long</mat-icon>
        Meus pedidos
    </button>
    <button mat-button [routerLink]="'/perfil'" class="menu-btn">
        <mat-icon>person</mat-icon>
        Perfil
    </button>
</mat-toolbar>
